@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@200..800&family=Marck+Script&family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@200..800&family=Manuale:ital,wght@0,300..800;1,300..800&family=Marck+Script&family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;    




@layer base {

    button {
      @apply  border border-black rounded-xl px-5 py-1
    }
  
   
  }
  


  @keyframes 
  scale-up-center{
    0% {
      transform:scale(.5)
    }
    100%{
      transform:scale(1)
    }
  
  }
  @keyframes slide-right{
    0%{
      transform:translateX(0)
    }
    100%{
      transform:translateX(100px)
    }}


    @keyframes rotate-scale-up{
      0%{
        transform:scale(1) rotateZ(0)
      }
      50%{transform:scale(2) rotateZ(180deg)}100%{transform:scale(1) rotateZ(360deg)}}

    .scale-up-center{animation:scale-up-center 1.2s cubic-bezier(.39,.575,.565,1.000) both}
    .slide-right{animation:slide-right 1.2s cubic-bezier(.25,.46,.45,.94) both}
    .slide-left{animation:slide-left .5s cubic-bezier(.25,.46,.45,.94) both}
    .rotate-scale-up{animation:rotate-scale-up .65s linear both}